<div class='container'>
  <div class="row">
    <div class='col-md-6'>
      <div class='card'>
        <form #user='ngForm'>
          <input type='text' class='searchElements' id='inputArea' autocomplete='off' placeholder='Search for someone' [(ngModel)]='search' name='search' #user1='ngModel'>
          <button class='searchElements' id='searchButton' (click)='searchUser(user1.value)'>Search</button>
        </form>
      </div>
    </div>
    <div class='col-md-6'>
      <div class='card' id='info'>
        <img src={{users.avatar_url}}>
        <h2 id='username' class='userText'>{{users.login}}</h2>
        <h3>Bio: {{users.bio}}</h3>
        <h3>Followers: {{users.followers}}</h3>
        <h3>Following: {{users.following}}</h3>
        <h3>Repositories: {{users.public_repos}}</h3>
        <h3>Member for: {{users.created_at}}</h3>
        <a id='centerLink' href={{users.html_url}} target='_blank'><h3>Link to profile</h3></a>
      </div>
    </div>
  </div>
</div>
